@media (max-width: 1150px) { 
    html {
    font-size: 9px;
    }
}

@media (max-width: 1050px) { 
    html {
    font-size: 8px;
    }
}

@media (max-width: 900px) { 
    html {
    font-size: 7px;
    }
}

@media (max-width: 700px) { 
    html {
    font-size: 6px;
    }
}

@media (max-width: 600px) { 
    html {
    font-size: 5px;
    }
}

@media (max-width: 400px) { 
    html {
    font-size: 4px;
    }
}